body {
  background-color: #9de3ff;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #7dc7e4;
  font-size: 10vw;
  text-align: center;
  padding: 1vh;
  margin: 3vh;
  box-shadow: 0 0 3vw #1e5670;
  border-radius: 3vw;
  background-color: #f3fafa;
}

a:active {
  box-shadow: none;
  background-color: #9de3ff;
  text-shadow: none;
}

.ann {
  padding: 2vw;
  font-size: 5vw;
  color: #f3fafa;
  text-shadow: 0 0 1vw #6b94a5;
  text-align: center;
  line-height: 5vh;
}
