* {
  margin: 0;
  padding: 0;
  font-size: 5vw;
  outline: none;
  text-align: center;
}

.footer {
  display: flex;
  width: 100vw;
  height: 10%;
  list-style: none;
  background-color: #033557;
  box-shadow: 0 -1vw 1vw #1e5670;
  position: fixed;
  justify-content: space-evenly;
  bottom: 0vw;
}

.button {
  background-color: #033557;
  color: white;
  border: none;
  text-decoration: none;
  display: inline-block;
  width: 20vw;
  text-align: center;
  outline: none;
}

.button:active {
  color: #91cfc9;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

body {
  background-color: #f3fafa;
}

.indext1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.input {
  background-color: #1e5670;
  box-shadow: 0 0 4vw #1e567079;
  width: 100%;
  padding: 4vw;
  height: 7%;
  position: fixed;
  top: 0;
  display: flex;
}

input[type="text"] {
  box-sizing: border-box;
  font-size: 7vw;
  width: 70vw;
  padding: 1vw;
  box-shadow: none;
  background-color: white;
  margin-top: 4vw;
  border-radius: 2vw;
  border: #1e5670;
  color: #cde8f3;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.searchbutton {
  margin-left: 75vw;
  border: #656666;
  background-color: #1e5670;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.searchbutton:active {
  color: #91cfc9;
}

.subject {
  border: #cde8f3 solid 3px;
  box-shadow: 0 0 2vw #1e567079;
  border-radius: 2vh;
  width: 80vw;
  margin: 10vw;
  padding-bottom: 5vw;
  background-color: white;
}

.left-nav {
  background-color: #1e5670;
  position: fixed;
  left: 0;
  overflow: auto;
  width: 21%;
  height: 89.91%;
  box-shadow: 1vw 0 3vw #1e567054;
}

a {
  text-decoration: none;
  color: #1e5670;
}

.teacher {
  color: #f3fafa;
}

.teachername {
  list-style: none;
  overflow: hidden;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.teachername:active {
  background-color: #cde8f3;
}

.right-main {
  position: fixed;
  right: 0;
  width: 78%;
  height: 89.5%;
  overflow: auto;
}

.subject-teacher {
  width: 65vw;
  margin: 7vw;
  border: #cde8f3 solid 3px;
  box-shadow: 0 0 3vw #1e567079;
  border-radius: 2vw;
  padding-bottom: 3vw;
  background-color: white;
}

.subject-teacher:active {
  background-color: #cde8f3;
}

.subject-name {
  display: block;
  font-size: 5vw;
  margin: 2vw;
  text-align: center;
}

#user {
  font-size: 15vw;
  text-align: center;
  padding-top: 10vw;
  color: #1e5670;
}

#weighted-average {
  font-size: 15vw;
  border: #cde8f3 solid 3px;
  box-shadow: 0 0 4vw #1e567079;
  text-align: center;
  border-radius: 2vh;
  width: 80vw;
  margin-top: 10vw;
  background-color: white;
}
