<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!--css-->
    <link rel="stylesheet" href="../../static/css/class.css" />
    <!--特别诡异的是如果单独打开class它当前目录是在与static同级的template里，但是flask运行后从index进入class则目录又变深了一级，只能再返回一级再进static找文件-->
  </head>

  <body>
    <div>
      <span onclick="back()"><<<</span>
    </div>
    <div class="subject">
      <h3 style="font-size: 7vw;">课程名称:{{c_sub}}({{subject}})</h3>
      <p>任课老师:{{teachername}}</p>
      <p>平均分:{{aver}}</p>
      <p>参考人数:{{usernum}}</p>
    </div>
    <div class="detail">
      <p style="text-align: left;">你的分数</p>
      <p style="font-size:15vw">{{yscore}}</p>
    </div>

    <div style="display: inline-flex;justify-content: space-evenly">
      <button class="thumb" id="up">赞</button>
      <button class="thumb" id="down">踩</button>
    </div>
    <div style="text-align: center;">
      <p>点赞人数</p>
      <p id="num">{{thumbnum}}</p>
    </div>

    <!--javascript-->
    <script src="../../static/js/class.js"></script>
    <!--../../的理由同css-->
  </body>
</html>
