* {
    font-size: 5vw;
}

span {
    font-size: 6vw;
    display: inline-block;
    text-align: center;
    color: gray;
    padding: 1px;
    background-color: rgb(255, 255, 255);
    border-radius: 2vw;
    box-shadow: 0 0 2vw rgb(204, 201, 201);
    width: 20vw;
    height: 9vw;
}

span:active {
    background-color: rgb(204, 201, 201);
}

body {
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.subject {
    text-indent: 10vw;
}

.detail {
    text-align: center;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 3vw rgb(175, 172, 172);
    text-indent: 5vw;
    width: 89vw;
    margin: 5vw 3vw 5vw 5vw;
}

.thumb {
    display: inline-block;
    width: 30vw;
    height: 30vw;
    border: none;
    border-radius: 5vw;
    background-color: white;
    box-shadow: 0 0 3vw rgb(204, 201, 201);
    margin-top: 5vw;
    outline: none;
}

.thumb:active {
    background-color: rgba(189, 186, 186, 0.322);
}

.thumbup {
    display: inline-block;
    width: 30vw;
    height: 30vw;
    border: none;
    border-radius: 5vw;
    background-color: rgb(230, 109, 109);
    color: white;
    box-shadow: 0 0 3vw rgb(204, 201, 201);
    margin-top: 5vw;
    outline: none;
}