<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!--css-->
    <title>index</title>
    <link rel="stylesheet" href="../static/css/index.css" />
  </head>

  <body>
    <!--footer-->
    <nav class="footer">
      <button class="button" style="background-image:url(../static/pic/se.svg);background-repeat: no-repeat;background-size: 40% 40%;background-position: center;"></button>
      <button class="button" style="background-image:url(../static/pic/te.svg);background-repeat: no-repeat;background-size: 40% 40%;background-position: center;"></button>
      <button class="button" style="background-image:url(../static/pic/sc.svg);background-repeat: no-repeat;background-size: 40% 40%;background-position: center;"></button>
    </nav>

    <!--1-->
    <div class="index">
      <div class="shown">
        <div class="index1">
          <div class="input">
            <!--表单？-->
            <input type="text" name="subject" class="input" id="search_subject" value="Subject?" />
            <input type="button" class="searchbutton" value="Search" id="searchsubject" />
          </div>
          <div style="height:10vh;width: 100vw;color: #f3fafa;">
            彩蛋：我是用来占位置的Σ(°Д°;这都被发现了
          </div>
          {% for s in subject_length%}
          <div class="shown">
            <a href="class.html/{{username}}/{{Englishname[s]}}" class="link-to">
              <div class="subject" subjectname="{{subject[s]}}">
                <p class="subject-name">{{subject[s]}}</p>
                <p style="font-size: 10vw;">
                  {{yourscore[s]}}
                </p>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <!--2-->
    <div class="index">
      <div class="hidden">
        <div>
          <nav>
            <ul class="left-nav">
              {% for t in teacher %}
              <li class="teachername"><a class="teacher">{{t}}</a></li>
              {%endfor%}
            </ul>
          </nav>
        </div>
        <div class="right-main">
          {% for s in subject_length%}
          <div class="shown">
            <a href="/class.html/{{username}}/{{Englishname[s]}}" class="link-to">
              <div class="subject-teacher" teachernum="{{subjects[s]}}">
                <p class="subject-name">{{subject[s]}}</p>
                <p style="font-size: 10vw;">
                  {{yourscore[s]}}
                </p>
              </div>
            </a>
          </div>

          {% endfor %}
        </div>
      </div>
    </div>

    <!--3-->
    <div class="index">
      <div class="hidden">
        <div id="user">
          {{username}}
        </div>
        <div style="display:flex;flex-wrap: wrap;justify-content: center;">
          <div id="weighted-average" style="text-align: center;padding: 5vw;">
            <p style="text-align: center;color:#4198b9;">你的成绩</p>
            {% for s in subject_length%}
            <p style="text-align:center;font-size:7vw;color: #1e5670;">
              {{subject[s]}}:{{yourscore[s]}}
            </p>
            {% endfor %}
            <p style="text-align: center;color:#4198b9;">平均:{{yaver}}</p>
          </div>
        </div>
      </div>
    </div>

    <!--javascript-->
    <script defer src="../static/js/index7.js"></script>
  </body>
</html>
