<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!--css-->
    <link rel="stylesheet" href="../static/css/loginsign.css" />
  </head>

  <body>
    <form method="POST">
      <input type="text" name="username" value="username" style="margin-left: 15vw" />
      <input type="password" name="passwd" value="password" style="margin-left: 15vw" /> {% for s in sl:%}
      <div style="margin-left: 5vw;"><label style="margin-left: 3vw;width: 10vw;">{{subject[s]}}</label><input type="text" name="{{Englishname[s]}}" class="inputs" value="{{Englishname[s]}}" style="width: 60vw;margin-left: 5vw;" /></div>
      {% endfor %}
      <input type="submit" value="SUBMIT" class="submit" />
    </form>
  </body>
</html>
